.gray-border {
    border: 1px solid #e6e6e6;
}

.formatting {
    width: 200px;
    text-align:center;
}

.formatting-multi-rating {
    width:400px;
    text-align:center;
}

.rating-container {
    background-color: white;
}

.rating-link {
    color: white;
}

.rating {
    display: none;
}

.rating p {
     background-color: #f1f5f6;
     margin: 0px;
}

.rating p, .rating p a {
    color: #ab5b1a;
}

.rating-table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
.rating-table thead {
    background-color: #f9f9f9;
    color: #4B6987;
}

.no-ratings {
    background-color: #d6e1f9;
}

.no-ratings p {
    font-size: 150%;
    color: #4a598c;
}

.rating-table td {
     border: 1px solid #4B6987;
     margin: 0px;
}

.rating-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1f5f6;
}

.expand-rating-arrow {
    display: none;
}

.instructor-name {
    color: #ab5b1a;
}

.instructor-department {
    border-top: 1px solid #e6e6e6
}

.ratings-count-container {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.close-rating {
    color: gray;
    cursor: pointer;
    line-height: 15px;
}

.arrow-properties {
    color: gray;
    cursor: pointer;

}

.no-select {
    user-select: none;
    cursor: default;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
}

.loading-container {
    background-color: #f9f9f9;
}

.loading-rating {
    border: 4px solid #f1f5f6;
    border-top: 4px solid #ab5b1a;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

span[id ^= "MTG_INSTR$"] {
    cursor: pointer;
}